<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.cristovision.cristovision"
        version   = "1.0.0">

     <name>Cristovision</name>

    <description>
        Cristovisión el canal de la Iglesía Católica estrena su nueva aplicacion con la cual podras estar enterado de las noticias de la Iglesía, explorar nuestras redes sociales, ver nuestra señal en vivo y mucho mas! Bienvenido a ver el mundo con los ojos de Jesús.
    </description>

    <author href="http://www.cristovision.tv" email="webmaster@cristovision.org">
        Cristovision 
    </author>

   

</widget>
